</head>
<body onload="lf4d.create()" style="font-family:Arial,Verdana; font-size:12pt; color:black" bgcolor="#CACACA">

  <h1>___PKG_EXPORTVAR___ Demo with Handlebar4Code</h1>
  <h4>
    Demo extends the <a href="https://niebert.github.io/Handlebars4Code" target="_blank">Handlebars4Code demo</a> with <a href="https://www.gitlab.com/niehausbert/loadfile4dom" target="_blank">___PKG_EXPORTVAR___</a>. With the <a href="#" onclick="lf4d.open_dialog('txtfile');return false">Load JSON Button</a> users can upload a JSON Source into the textarea JSON.
    JSON as input for <tt>Handelbars4Code</tt>
    was generated with <a href="https://niebert.github.io/ClassEditorUML" target="_blank">ClassEditorUML</a>.

    The JSON file is used together with a template to generate output files with <a href="https://www.github.com/niebert/Handlebars4Code" target="_blank">Handlebars4Code</a>.
    With the select box you can apply different templates to the source JSON file.
    If you want to create your own JSON editor, you can use <a href="https://niebert.github.io/JSON2Schema" target="_blank"> JSON2Schema</a>.
  </h4>

<hr>
