
The library <tt>LoadFile4DOM</tt> is a library that allows to load files into an application that run completely in a browser without the need to submit data to a server for processing. With this library the users are able load files into your browser application and process the data in the browser and provide the output to the user, without submitting any data to a server.. 
The source code of  LoadFile4DOM can be downloaded as <a href="https://www.gitlab.com/niehausbert/-/archive/master/loadfile4dom-master.zip"  target="_blank">ZIP-file loadfile4dom.zip</a>
