
	   <!-- BEGIN: src/html_tail.html -->
	   <center style="font-size: 10px;">
			  <a href="https://gitlab.com/niehausbert/loadfile4dom" target="_blank"> Git Sources LoadFile4DOM</a> - <a href="https://www.gitlab.com/niehausbert/-/archive/master/loadfile4dom-master.zip"  target="_blank">Download LoadFile4DOM ZIP</a>
			  <br>
			  Version: 1.2.19 Date: 2021/10/14 11:32:13 Author: Engelbert Niehaus
	   </center>
     <!-- END:  src/html_tail.html -->

	