<!-- HTML code for embedding the source libraries into docs/index_src_libs.html -->
<script src='.././src/npm_header.js'></script>
<script src='../src/libs/require_mods.js'></script>
<script src='.././src/loadfile4dom.js'></script>